<!DOCTYPE html>
   <html lang="en">
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>PKI Dashboard</title>
       <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
       <header>
           <h1>PKI Dashboard</h1>
       </header>
       <main>
        <h2>Certificate Details</h2>
        <div id="certificate-details">
            <h3>Subject</h3>
            <ul>
            {% for key, value in cert_info.subject.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
            </ul>
            <h3>Issuer</h3>
            <ul>
            {% for key, value in cert_info.issuer.items() %}
                <li>{{ key }}: {{ value }}</li>
            {% endfor %}
            </ul>
            <p>Version: {{ cert_info.version }}</p>
            <p>Serial Number: {{ cert_info.serial_number }}</p>
            <p>Not Before: {{ cert_info.not_before }}</p>
            <p>Not After: {{ cert_info.not_after }}</p>
            <h3>Public Key</h3>
            <pre>{{ cert_info.public_key }}</pre>
        </div>
       </main>
       <script src="{{ url_for('static', filename='js/main.js') }}"></script>
   </body>
   </html>