{% extends 'base.html' %}

{% block content %}
    <main>
        <h2>Certificate List</h2>
        <ul id="certificate-list">
        </ul>

        <div id="certificate-modal" class="modal">
            <div class="modal-content">
                <span class="close-button">&times;</span>
                <h2>Certificate Details</h2>
                <div id="certificate-details">
                </div>
            </div>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}