{% extends 'base.html' %}

{% block content %}
       <main>
        <h2>Certificate List</h2>
        <ul id="certificate-list">
            <!-- This will be populated dynamically -->
        </ul>
        <div class="container">
            <div class="flex-item">Data viewed here</div>
            <div class="flex-item">Data viewed here</div>
            <div class="flex-item">Data viewed here</div>
            <div class="flex-item">Data viewed here</div>
        </div>
       </main>
{% endblock %}