body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 2rem;
}

div {
    color: #fff;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    padding: 10px;
}
.container {
    background-color:#2E4272;
    display:flex;
}
.fixed {
    background-color:#4F628E;
    width: 200px;
}
.flex-item {
    background-color:#7887AB;
    flex-grow: 1;
    border-color: #2E4272;
    border-radius: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        pink 70deg,
        lightblue 0 235deg,
        orange 0
    );
}

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

    /* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
}

    /* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

    /* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

    /* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

    /* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

    /* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

    /* Add padding to containers */
.container1 {
    color:#333;
    align-items: center;
    padding: 16px;
}

    /* The "Forgot password" text */
span.psw {
    color: grey;
    float: right;
    padding-top: 16px;
}

    /* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5rem;
}

pre {
    background-color: #f4f4f4;
    padding: 1rem;
    overflow-x: auto;
}
